@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.hamburger {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger .bar {
  display: block;
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* When in "open" state, transform the bars into a cross */
.hamburger.open .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

@keyframes heroZoom {
  0% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
}

.hero-bg-zoom {
  animation: heroZoom 10s ease-out forwards;
  /* 10s is an example; adjust timing as needed */
}

@media (max-width: 768px) {
  .hero-bg-zoom {
    animation: none;
    background-size: cover !important;
  }
}

/* Custom circle pulse */
@keyframes circle-pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-circle-pulse {
  animation: circle-pulse 1s infinite;
}
