@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.hamburger {
  width: 25px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger .bar {
  display: block;
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* When in "open" state, transform the bars into a cross */
.hamburger.open .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
